/* Sidebar */

.Sidebar2 {
    flex: 1 1 0;
    min-width: 500px;
    max-width: 500px;
    height: 100%%;
    padding: 2rem 1rem;
    background-color: #F3F5FB;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .Logo {
    margin-top: -30px;
    height: 150px;
    width: auto;
  }
  
  .Sidebar2 .Items {
    margin-top: 70px;
  }
  
  .Sidebar2 .Content {
    width: auto;
    height: 60px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  .icons {
    flex: 30%;
    display: grid;
    place-items: center;
  }
  
  .title {
    flex: 70%;
  }
  
  .Books {
    margin-top: 300px;
    margin-bottom: 300px auto;
    width: 100%;
    height: auto;
    position: relative;
    background-attachment: fixed;
    background-position: center;
  }